---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---

<!-- Publications Section -->
<h2>Publications</h2><hr />
<ul>
  {% for post in site.publications reversed %}
    {% if post.category == "manuscripts" %}
      <li>
        <a href="{{ post.paperurl }}" target="_blank">{{ post.title }}</a>
      <br>
      <small>{{ post.citation }}</small>
      <br>
      <small>{{ post.excerpt }}</small>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<!-- Working Papers Section -->
<h2>Working Papers</h2><hr />
<ul>
  {% for post in site.publications reversed %}
    {% if post.category == "Working Paper" %}
      <li>
        {{ post.citation }}
        <br>
        <small>{{ post.excerpt }}</small>
      </li>
    {% endif %}
  {% endfor %}
</ul>
